<div class="fixed bottom-0 right-0 bg-red-500 mr-10 bg-primary text-color closed" id="chat-rooms">
  <div class="flex py-2 px-32 items-center cursor-pointer w-full" id="chat-header">
    <h2 class="text-white flex-1 font-semibold">Channels</h2>
    <svg id="chatroom-icon" class="mx-2 h-5 w-5 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </div>
  <div class="overflow-y-hidden" id="chat-body">

  </div>
</div>
