<sidebar id="sidebar" class="fixed left-0 bottom-0 py-4 overflow-y-hidden whitespace-nowrap">
  <ul class="sidebar-items">
    <li class="sidebar-item my-4">
      <div class="flex">
        <div class="item-img flex-shrink-0 text-4xl text-center">
          <i class="fas fa-play-circle"></i>
        </div>
        <div class="item-content pr-8 pl-4 font-semibold">
          <div class="item-link my-2 text-xl">
            <a href="#">Play</a>
          </div>
          <div class="item-link my-2">
            <div class="flex border-2 items-center rounded py-2 px-4">
              <input type="text" class="flex-1 outline-none bg-transparent" placeholder="Enter a code">
              <button class="focus:outline-none play-button">
                <i class="fas fa-play"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="sidebar-item my-4">
      <div class="flex">
        <div class="item-img flex-shrink-0 text-4xl text-center">
          <i class="fas fa-users"></i>
        </div>
        <div class="item-content pr-8 pl-4 font-semibold">
          <div class="item-link my-2 text-xl">
            <a href="#">Guilds</a>
          </div>
          <div class="item-link my-2 text-xl">
            <a href="#">Create a guild</a>
          </div>
          <div class="item-link my-2 text-xl">
            <a href="#">Join a guild</a>
          </div>
        </div>
      </div>
    </li>
    <li class="sidebar-item my-4">
      <div class="flex">
        <div class="item-img flex-shrink-0 text-4xl text-center">
          <i class="fas fa-star"></i>
        </div>
        <div class="item-content pr-8 pl-4 font-semibold">
          <div class="item-link my-2 text-xl">
            <a href="#">Leaderboard</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</sidebar>
